// "implicit" workflow object config are for accessing or setting workflow/runtime metadata (https://www.nextflow.io/docs/latest/metadata.html?#runtime-metadata)
workDir = 'work'

// params are generally for pipeline related definitions
params {
    input                                 = "/storage1/fs1/dspencer/Active/spencerlab/projects/longread/ont/aml476081/20220912_2159_3C_PAM92423_6247dc59/test_fast5"
    outdir                                = 'results'
    use_gpu                               = true
}

// // profiles are generally for runtime related definitions. Any name can be used to create profiles, however executors are predefined in nextflow (https://www.nextflow.io/docs/latest/executor.html#)
profiles {
        local {
            process {
                    executor             =  "local"
                    docker.enabled       =  true
                    docker.runOptions    = '-u $(id -u):$(id -g)'
            }
        }
        ris {
            process { 
                    executor            =    "lsf"
                    clusterOptions      =    { "-a 'docker(${task.container})' -q dspencer -G compute-dspencer -g /dspencer/nextflow" }
                    
                    withName: guppy_basecaller_gpu {
                        clusterOptions      =    { "-a 'docker(${task.container})' -q general -G compute-dspencer -g /dspencer/nextflow -R 'gpuhost' -gpu 'num=2:gmodel=TeslaV100_SXM2_32GB:gmem=16G'" }
                }
                }
        }
}

// 1) When accessing a workflow variable from config file, the option value should be enclosed in curly brackets in-order to evaluate the variable
// 2) using a double/triple quote and single quote makes difference! They can be interchangeable as long as no nextflow variable need to be accessed between the quotes, otherwise use double/triple quotes to access nextflow variables
